/* Mobile */
@media (max-width: 768px) {
  p {
    @include fontSize(20, 1.75, 0);
  }

  h1 {
    @include fontSize(30, 1, 0.1);
  }

  h2 {
    @include fontSize(20, 1, 0.05);
  }

  .portfolio-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Inbetween Mobile & Tablet (Because the text would get relly small just before reaching the 768px-mark) */
@media (min-width: 600px) {
  p {
    @include fontSize(24, 1.75, 0);
  }

  h1 {
    @include fontSize(32, 1, 0.1);
  }

  h2 {
    @include fontSize(24, 1, 0.05);
  }

  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Tablet */
@media (min-width: 768px) {
  p {
    @include fontSize(30, 1.75, 0);
  }

  h1 {
    @include fontSize(34, 1, 0.1);
  }

  h2 {
    @include fontSize(30, 1, 0.05);
  }

  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop */
@media (min-width: 1280px) {
  p {
    @include fontSize(34, 1.75, 0);
  }

  h1 {
    @include fontSize(34, 1, 0.1);
  }

  h2 {
    @include fontSize(30, 1, 0.05);
  }

  .portfolio-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
